language: cpp
matrix:
  include:
    - os: linux
      language: cpp
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env:
        - MATRIX_EVAL="CXX=g++-6 && export CXX=g++-6"

    # works on Trusty
    - os: linux
      language: cpp
      compiler: clang
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
      env:
        - MATRIX_EVAL="CXX=clang++-5.0 && export CXX=clang++-5.0"

    - os: osx
      language: cpp
      osx_image: xcode8
      env:
        - MATRIX_EVAL="brew install gcc6 && CXX=g++-6"

script:
  - mkdir build && cd build
  - cmake ..
  - make