matrix:
  include:
    - os: linux
      sudo: require
      language: cpp
      dist: trusty
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - gcc-7
            - cmake
      env:
        - MATRIX_EVAL="export CC=gcc-7 && export CXX=g++-7 && CC=gcc-7 && CXX=g++-7"

    - os: linux
      sudo: require
      language: cpp
      dist: trusty
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
      env:
        - MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"

    - os: osx
      sudo: require
      osx_image: xcode8
      env:
        - MATRIX_EVAL="brew install gcc && CC=gcc-7 && CXX=g++-7"

script:
  - gcc -v && g++ -v && cmake --version
  - mkdir build && cd build
  - cmake ..
  - make